@use "./../../utils/mixins.scss" as mixins;
@use "./../../utils/vars.scss" as *;

.main {
  background-color: $primary-white;
    height: auto;

  @include mixins.on-tablet {
    min-height: 100vh;
  }

  &__trusted {
    border-bottom: 1px solid rgba($color: $secondary-text-black, $alpha: 30%);
    height: 178px;
  }

  &__clients {
    height: auto;
    background-image: url("/public/images/backgrounds/client-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: -25px;

    @include mixins.on-tablet {
      margin-inline: -100px;
      min-height: 100vh;
    }
  }
}
