@use "./../../utils/mixins.scss" as mixins;
@use "./../../utils/vars.scss" as *;

.popular {
  min-height: 100vh;
  background-color: $primary-white;
  padding-top: 100px;
  padding-bottom: 320px;

  &__header {
    font-size: 50px;
    font-weight: 600;
    line-height: 125%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 42px;
  }

  &__explore {
    position: relative;

    &--link {
      display: flex;
      gap: 16px;
      
      @include mixins.hover-underline(8px, $primary-black);
    }

    &--text {
      transition: all 0.3s ease;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 80px 120px;
    align-items: start;
  }

  &__card {
    grid-column: 1 / 7;

    &:nth-child(even) {
      grid-column: 7 / -1;
      transform: translateY(200px);
    }
  }
}

.card {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid rgba($color: $secondary-text-black, $alpha: 20%);
    border-radius: 20px;
    cursor: pointer;
    
    @include mixins.hover-transition;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__delimiter {
    margin-top: 42px;
    display: block;
    height: 2px;
    width: 140px;
    background-color: $primary-black;
  }

  &__price {
    font-size: 30px;
    line-height: 100%;
    font-weight: 600;
    margin-top: 28px;
  }

  &__description {
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba($color: $secondary-text-black, $alpha: 30%);
  }

  &__props {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }

  &__prop {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-block: 16px;
    background-color: $primary-gray;
    border-radius: 6px;

    &:hover {
      background-color: rgba($color: $secondary-text-black, $alpha: 40%);
    }

    &--text {
      font-weight: 600;
    }
  }
}
