$bgc-hero: #070707;
$header-height: 122px;
$primary-white: #fff;
$primary-black: #000;
$primary-orange: #f15a29;
$primary-gray: #f3f3f3;
$secondary-white-shadow: rgba(
  $color: $primary-white,
  $alpha: 60%,
);
$secondary-text-black: #070707;
$secondary-gray-border: #acacac;
$tablet-min-width: 576px;
$desktop-min-width: 1200px;
